
/* global css start here */
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800,900');

body{
    font-family: 'Nunito Sans', sans-serif;
    background-color: #F7F8FA;
}
/* global css end here */

/* header css start here */
.logo img{
    height: 35px;
}
.nav-rightside{
    flex: auto;
}
.nav-rightside li a{
    color: black!important;
}
.nav-rightside li a:hover{
    color: #4D41CA!important;
}

/* header css end here */

/* banner css start here */
.banner-content{
    margin-top: 80px;
}
.text-hilighter{
    color: #4D41CA;
}
.buy-button{
    background-color: #4D41CA;
    border-radius: 5px;
    padding: 12px 20px;
    font-size: 14px;
    border: #4D41CA;
}
.buy-button i {
    margin-right: 10px;
}
.banner img{
    width: 75%;
}
/* banner css end here */

/* woman jacket css start here */
.jacket{
    background-color: white;
    border-radius: 12px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 8px;
}
.jacket-img img{
   height:300px;
   display: block;
   margin-left: auto;
   margin-right: auto;
}
.jacket-img{
    background-color: #F1F1F1;
    padding: 20px;
    border-radius: 12px;
    
}
.jacket-info{
    padding: 20px 5px;
}
.price del{
    font-size: 20px;
    color: gray;
}
/* woman jacket css end here */

/* about css start here */
.about{
    margin-top: 100px;
}
.about-details{
    align-items: center;
    background-color: white;
    border-radius: 12px;
    padding: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}
.about-details img{
    height: 70px;
    margin-right: 20px;
}
/* about css end here */

/* contact css start here */
.contact-info{
    margin-left: 20px;
}
.contact-info i{
    background-color:  #4D41CA;
    height: 35px;
    width: 35px;
    line-height: 35px;
    text-align: center;
    color: white;
    font-size: 20px;
    border-radius: 5px;
    margin-right: 10px;
}
/* contact css end here */

/* media quiry start here */
@media only screen and (max-width: 600px) {
    .logo img {
        height: 25px;
    }
  }
  @media only screen and (max-width: 990px) {
    .nav{
        display: block;
        text-align: center;
    }
    .banner-content{
        margin-top: 20px;
    }
    .banner-content,.banner-img{
        text-align: center;
    }
    .contact-info{
        margin-left: 0;
    }
  }
  /* media quiry end here */